.row
  .col-xs-12.about_spiceplus
    #title ￼SPICE+とは
    .contains
      %h1
        = image_tag "about01.png", class: "img-responsive"
      .about01
        = image_tag "about02.png", class: "img-responsive"

    #title SPICE+の特徴
    .row
      .col-xs-12.about02
        %h2
          =image_tag "about_h1.png", class: "img-responsive"
        %p SPICE+では、20~30代の学生や社会人がレポーターとなって、NPOの活動を紹介しています。掲載しているレポートの多くが、レポーター自身が活動へと足を運び、初めて体験して書いたものです。作成されたレポートには、活動を通した団体のリアルな様子と、体感して得た率直な感想がつまっています。

    #title SPICE+の想い
    .row
      .col-xs-12.about02
        %h2
          = image_tag "about_h2.png", class: "img-responsive"
        %p 多くのNPOは、普段の生活で課題と感じたことに対して取り組んでいます。その活動内容はとても幅広く、同じ思いを持つ人が増えることで解決される課題もたくさんあります。社会的意義のある活動を、「SPICE+」を通して多くの人に伝えることで、団体の思いや活動に共感し、協力したいと思う人に巡り合えるきっかけを作りたいと思っています。

    #title SPICE+でアクション!
    .row
      .col-xs-12.about02
        %h2
          = image_tag "about_h3.png", class: "img-responsive"
        %p 共感した団体への活動参加の方法は、いろいろあります。レポートと同じスケジュールはもちろん、短時間での参加も可能です。都合がつかずに現場に行く時間はなくても、共感した団体のファンになって、活動を追っていくのも参加の一つです。あなたができる関わり方を探しましょう。
