<div class="row">
  <div class="col-md-12">
    <h2>お問い合わせ</h2>
    <p><%= image_tag "actionport_logo.png" %></p>
    <p>
      TEL&amp;FAX：045-662-4395<br/>
      メール：info@actionport-yokohama.org
    </p>
      <span class="sync form5 " style="display:none;">102401,71cbe43c-301e-4d9c-b28b-32fcaf13e4b0,,</span></p>
  </div>
</div>
