<div class="row">
  <div class="recruit_spiceplus">
    <div>
      <img alt="Recruit01" width ="100%" src="/images/new_reporter01.png">
    </div>
    <div class="col-xs-12 contains">
      <div id="title">
        <img alt="Recruit02" width ="100%" src="/images/new_reporter02.png">
      </div>
      <p class="p01">SPICE+とは、学生や若手社会人が地域で活躍しているNPOや団体の体験レポートやイベント情報を実際に1日体験して紹介しているWEBサイトです。あなたもSpice+のレポーターになって地域活動を味見してみませんか？あなたの人生のちょっとしたスパイスになるはず…！</p>
      <div class="img"><img class="img01" alt="Recruit03" src="/images/new_reporter03.png"></div>
      <div class="img"><img class="img02" alt="Recruit04" src="/images/new_reporter04.png"></div>
      <div class="img"><img class="img01" alt="Recruit05" src="/images/new_reporter05.png"></div>
      <div class="img"><img class="img02" alt="Recruit06" src="/images/new_reporter06.png"></div>
      <div class="img"><img class="img02" alt="Recruit07" src="/images/new_reporter07.png"></div>
      <div class="img"><img class="img03" alt="Recruit08" src="/images/new_reporter08.png"></div>
      <div class="img">
        <%= link_to image_tag("new_reporter09.png", class: "img04"), inquiry_path %>
      </div>
    </div>
  </div>
</div>
