<div class="jumbotrom">
  <div class="jumbotron">
  	<h1>ここはSpice+の管理用ページです</h1>
  </div><!-- /.jumbotron -->
  <h2>初めての場合</h2>
  <p>
    メニューから「サインイン」を選択して、アカウントを作成してください
  </p>
  <h2>既にアカウントを作っている場合</h2>
  <p>メニューから「ログイン」を選択して、アカウント作成時のメールアドレスとパスワードを入力してください</p>
  <hr>
  <h2>記事を投稿するには？</h2>
  <p>
    メニューの「記事一覧」から現在の記事を一覧表示できます。<br>
    一番下の「新規投稿」ボタンから記事の投稿が可能です。
  </p>
</div>