/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
//$screen-lg: 9999px;


@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "summernote";

body{
  padding-top: 65px;
  font-family: 'PT Sans Caption',"Hiragino Kaku Gothic ProN", Meiryo, sans-serif;

  a{
    color: #6E6E6E;
  }

}

/* h1{
  font-size: 27px;
  font-weight: bold;
  display: block;
  float: left;
  clear: both;

  width: 100%;
  margin-top: 4px;
}

h2{
  font-size: 150%;
  font-weight: bold;

  margin-top: 30px;
  padding-left: 6px;

  color: #000;
  border-left-width: 5px;
  border-left-style: solid;
  border-left-color: #000;
}
 */

//ナビゲーションバーのカスタマイズ
.navbar-default{
  background-color: #FFF;
  border-color: #FFF;
  .navbar-nav{
    li{
      border-right: 1px silver solid;
      a{
        color: #000;
      }
    }
  }
}

.navbar-brand{
  padding: 10px 15px;
}
.navbar-brand-sub{
  font-size: 10pt;
}

.sidebar-item{
  padding-top: 10px;
}

.catch-copy{
  h1{
    font-size: 24px;
  }
}


// 記事
.article{
  font-size: 15px;
  line-height: 170%;

  h1{
    font-size: 27px;
    font-weight: bold;
    display: block;
    float: left;
    clear: both;

    width: 100%;
    margin-top: 4px;

    .infomation{
      margin-bottom: 12px;
      font-size: 12px;
      .date{
        font-weight: normal;
        font-family: 'PT Sans Caption', 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
      }
      .label{
        font-size: 11px;
      }
    }
  }
  h2{
    font-size: 150%;
    font-weight: bold;

    margin-top: 30px;
    padding-left: 6px;

    color: #000;
    border-left-width: 5px;
    border-left-style: solid;
    border-left-color: #000;
  }

  h3{
    font-size: 110%;
    font-weight: bold;
  }

  // 画像の回り込み
  img{
    float: right;
    margin: 5px;
  }
  img.img-not-float{
    float: none;
  }

  // 特殊なパーツ
  table{
    &.schedule{
      th{
        width: 20%;
      }
      td.time{
        background-color: #ffac68;
      }
    }
  }

  // 冒頭の紹介
  .discription{
    background-image: url("/images/notebook.png");
    margin-top: 15px;
    padding: 10px;
    border-radius: 5px;
  }

  // おすすめポイント
  .suggestion{
    margin-top: 30px;
    padding: 10px 5px 5px;
    //border: 1px dotted #656565;
    border-width: 1px;
    border-style: solid;

    h2{
      padding-top: 5px;
      margin-top: 0px;
      border-left: none;
      font-size: 16px;
      font-weight: normal;
    }
  }

  table.schedule, table.group_info{
    th{
      width: 20%;
    }
  }

  .tour{
    .suggestion{
      background-image: url("/images/bg_orange.gif");
      border-color: rgb(251, 180, 70);
    }
    table.schedule,table.group_info{
      th{
        background-image: url("/images/bg_orange.gif");
      }
    }
  }
  .report{
    .suggestion{
      background-image: url("/images/bg_red.gif");
      border-color: rgb(255, 95, 95);
    }
    table.schedule,table.group_info{
      th{
        background-image: url("/images/bg_red.gif");
      }
    }
  }
  .event{
    .suggestion{
      background-image: url("/images/bg_green.gif");
      border-color: rgb(34, 207, 0);
    }
    table.schedule,table.group_info{
      th{
        background-image: url("/images/bg_green.gif");
      }
    }
  }
}

// トップページのサムネイル一覧
div.thumb-list{
  padding-bottom: 10px;
  .image{
    width: 100%;
    .tags{
      z-index: 100;
      position: relative;
      width: 98%;
      margin-top: -30px;
      text-align: right;
    }
    .new_icon{
      background-image: url('/images/new.png');
      background-repeat: no-repeat;
      z-index: 100;
      position: relative;
      left: 0px;
      width: 55px;
      height: 55px;
      margin-bottom: -55px;
    }
  }

  .caption{
    padding-top: 10px;
    .area{
      font-size: 12px;
    }
    h4{
      font-size: 13px;
      font-weight: bold;
    }
  }
}

/* ラベルのカスタマイズ */
.label-tour{
  background-color: #f28c1e;
  font-size: 9pt;
}
.label-report{
  background-color: #c35252;
  font-size: 9pt;
}
.label-event{
  background-color: #11b769;
  font-size: 9pt;
}


.sidebar{
  h1{
    font-size: 100%;
    font-weight: bold;
  }


}
.sns_buttons{
  div{
    padding: 5px 0px 0px 0px;
  }
}


/* 検索フォーム */
.search{
  border-radius: 5px;
  background-color: #DDD;
  padding: 10px 10px 5px 10px;
  margin: 10px 0px 20px 0px;
  .btn{
    width: 100%;
  }
}

//フッター
/* ------------------------------------- /
/    Footer
/* ------------------------------------- */
#footer{
  text-align: center;
  padding: 40px 0;
  background-color: #7E7E7E;

  .footer-nav>li {
    border-right: 1px solid #000;
    &.first{
      border-left: 1px solid #000;
    }
    a{
      color: #fff;
    }
  }




}



/*  sns-icon
/*--------------------------------- */
.sns-icon{
  margin-top: 30px;
}

.sns-icon li{
  padding-left: 20px;
}
.sns-icon li:hover{
  color: #fff;
}

/*  copy
/*--------------------------------- */
.copy{
  margin-top: 20px;
  span{
    color: #333;
  }
}
