/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
//$screen-lg: 9999px;


@import "bootstrap-sprockets";
@import "bootstrap";
@import "non-responsive";
@import "font-awesome-sprockets";
@import "font-awesome";

html{
  height: 100%;
}

body{
  height: 100%;
  background-color: #FEF8ED;
  padding-top: 0px;
  /* font-family: 'PT Sans Caption',"Hiragino Kaku Gothic ProN", Meiryo, sans-serif; */
  font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  a{
    color: #E09200;
  }
}

////////////////////////////////////////////////////////////////////////
// 共通
.height-100{
  min-height: 100%;
  height: 100%;
}
.clear{
  clear: both;
}

////////////////////////////////////////////////////////////////////////
// サイドバー
.container{
  min-height: 100%;
  height: 100%;

  .sidebar{
    background-color: #30A0B4;
    color: #fdfdfd;
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    box-shadow: 3px 3px #E9DBC4;
    border-radius: 0px 0px 15px 15px / 0px 0px 15px 15px;

    h3{
      font-size: 14px;
      font-family: 'Stint Ultra Expanded', cursive;
      text-align: center;
      margin-bottom: 20px;
    }

    // ロゴ
    .logo{
      margin: 35px auto;
      max-width: 100%;
    }
    .catchcopy{
      margin: 68px 10px 0px;
      font-size: 14px;
      text-align: center;
    }
    //ナビゲーションバーのカスタマイズ
    .links{
      padding-top: 60px;
      width: 100%;
      margin: 0 auto;
      li{
        width: 100%;
        list-style-type: none;
        margin-top: 15px;
        a{
          margin: 3px 10px;
          padding-top: 3px;
          padding-bottom: 3px;
          color: #fdfdfd;
          display: block;

          width: 104px;
          height: 30px;
          background: url("/images/menu_icons.png") no-repeat top left;

          &.search{background-position: 0 0;}
          &.about{background-position: 0 -38px;}
          &.contact{background-position: 0 -76px;}
        }
      }
    }
    .footer{
      margin-top: 75px;
      .copyright{
        font-size: 9px;
      }
      img.logo{
        margin-top: 10px;
        width: 140px;
        margin: 10px auto;
        display: block;
      }
    }
    .sns_buttons{
      text-align: center;
      margin-bottom: 20px;
      margin-top: 40px;
      h3{
        margin-bottom: 5px;
      }
      a{
        color: #FFFFFF;
        font-size: 30px;
        &:hover{
          color: #94C1CF;
          text-decoration: none;
        }
      }
    }

  }
  #footer{
    text-align: center;
    vertical-align: bottom;
    color: #BCBEC4;
    font-size: 12px;
    margin-bottom: 25px;
    img.logo{
      width: 120px;
    }
  }
}

.sidebar-item{
  padding-top: 10px;
}

.catch-copy{
  h1{
    font-size: 24px;
  }
}

////////////////////////////////////////////////////////////////////////
// トップページ
#carousel-generic{
  margin-top: 0px;
  margin-bottom: 20px;
  margin-left: -15px;
  .item{
    width: 712px;
    height: 230px;
    /* border-radius: 15px; */
    /* background-color: black; */
    overflow: hidden;
  }
  img{
    top: -30px;
    position:absolute;
  }
  .carousel-control{
      background-image: none;
      opacity: 0.0;
      text-shadow: none;
  }
  .carousel-indicators{
    bottom: -40px;
    li{
      background-color: #CFE2E8;
      border: none;
      &.active{
        background-color: #E43468;
      }
    }
  }
  .carousel-inner{
    .carousel-caption{
      left: 5%;
      width: 90%;
      text-align: left;
      padding-bottom: 5px;
      .title{
        font-size: 28px;
        font-weight: bold;
        text-shadow: 2px 2px 1px #222222;
        margin-bottom: 0px;
        margin-top: 5px;
      }
      span.label{
        border-radius: 5px;
      }
      .tour{
        .label{
          background-color: #D56565;
        }
      }
      .report{
        .label{
          background-color: #30A0B4;
        }
      }
      .event{
        .label{
          background-color: #E09200;
        }
      }
      .name{

      }
    }
  }
}

.square-container{
  margin-top: 15px;
  margin-left: 25px;
  margin-right: 25px;

  .square_top{
    margin-bottom: 10px;
    padding-bottom: 10px;
    //border-bottom: dashed 1px gray;
  }
  .square_middle{
    margin-bottom: 10px;
    padding-bottom: 10px;
    //border-bottom: dashed 1px gray;
  }
  .col_left{
    padding-right: 10px;
    padding-left: 10px;
  }

  // 記事一覧リンク
  a.to_article_list{
    color: #30A0B4;
    font-size: 12px;
  }


  .article-list{
    /* border-radius: 15px; */
    border-radius: 10px;
    overflow: hidden;
    height: 240px;
    /* box-shadow: 3px 5px #cecece; */
    box-shadow: 3px 3px #E9DBC4;

    .article_image{
      height: 120px;
      margin: 0 auto;
      overflow:hidden;
      position:relative;
      img{
        float:left;
        position:absolute;
        display: black;
        z-index: 1;
      }
    }

    .spice_icon{
      background: url("/images/spice_icons.png") no-repeat top left;
      width: 40px;
      height: 50px;
      position: relative;
      top: 5px;
      left: 10px;
      z-index: 2;
    }
    .spice_icon1{background-position: -10px 0;}    //ワイワイ
    .spice_icon2{background-position: -55px 0;}    //ガッツリ
    .spice_icon3{background-position: -95px 0;}    //マッタリ

    .article_title{
      height: 60px;
      background-color: #FFFFFF;
      display: table-cell;
      vertical-align: middle;
      p.title{
        // width: 205px;
        // text-align: center;
        // margin-bottom: 0px;
        width: 185px;
        margin: 0px 10px;
        text-align: left;
      }
      .new{
        float: left;
        font-size: 10px;
        color: #E43468;
        padding-top: 5px;
        padding-left: 10px;
      }
    }
    .author{
      color: white;
      font-size: 12px;
      height: 60px;
      .author-left{
        float:left;
      }
      .author-right{
        float: left;
        margin-top: 10px;
        margin-left: 5px;
        width: 70%;
      }
      img{
        margin-left: 15px;
        margin-top: 0px;
      }
      .fukidashi{
        position: relative;
        top: 0px;
        left: 25px;
        width:0;
        height:0;
        border-right: 10px solid transparent;
        border-left: 10px solid transparent;
        border-top: 10px solid white;
      }
      .date{
        font-size: 10px;
        font-weight: normal;
      }
      .author-name{
        margin-top: 8px;
      }
      .label{
        float: left;
        margin-right: 5px;
        background-color: #FFFFFF;
      }
    }
    .tour{
      background-color: #D56565;
      .label{
        color: #D56565;
      }
    }
    .report{
      background-color: #30A0B4;
      .label{
        color: #30A0B4;
      }
    }
    .event{
      background-color: #E09200;
      .label{
        color: #E09200;
      }
    }
    .notice{
      background-color: #797979;
      .label{
        color: #797979;
      }
    }
  }
  .article-list-dummy{
    background-color: #DDD ;
    background-image: url("/images/dummy.png");
    height: 240px;
  }
}


////////////////////////////////////////////////////////////////////////

// トップページのサムネイル一覧
div.thumb-list{
  padding-bottom: 10px;
  .image{
    width: 100%;
    .tags{
      z-index: 100;
      position: relative;
      width: 98%;
      margin-top: -30px;
      text-align: right;
    }
    .new_icon{
      background-image: url('/images/new.png');
      background-repeat: no-repeat;
      z-index: 100;
      position: relative;
      left: 0px;
      width: 55px;
      height: 55px;
      margin-bottom: -55px;
    }
  }

  .caption{
    padding-top: 10px;
    .area{
      font-size: 12px;
    }
    h4{
      font-size: 13px;
      font-weight: bold;
    }
  }
}

/* ラベルのカスタマイズ */
.label-tour{
  background-color: #f28c1e;
  font-size: 9pt;
}
.label-report{
  background-color: #c35252;
  font-size: 9pt;
}
.label-event{
  background-color: #11b769;
  font-size: 9pt;
}


.sidebar{
  background-color: #49F;
  h1{
    font-size: 100%;
    font-weight: bold;
  }
}
.sns_buttons{
  div{
    padding: 5px 0px 0px 0px;
  }
}


/* 検索フォーム */
.search{
  border-radius: 5px;
  background-color: #DDD;
  padding: 10px 10px 5px 10px;
  margin: 10px 0px 20px 0px;
  .btn{
    width: 100%;
  }
}

/*  sns-icon
/*--------------------------------- */
.sns-icon{
  margin-top: 30px;
}
.sns-icon li{
  padding-left: 20px;
}
.sns-icon li:hover{
  color: #fff;
}

// 共通部品
.article_image{
  img{

  }
}


@import "article.css.scss";
@import "static_pages.css.scss";
@import "inquiry.css.scss";
@import "admin.css.scss";
