%p
  「びーのびーの」は、多様な人と関われて、訪れた人が心地よい場所でもあります。それはボランティアも一緒です。保育園などとは違うので、「こうやって遊ばなくちゃいけない」というようなものはありません。何だか義務的な感じがして、ちょっと疲れちゃいますよね？積極的に遊ぼうとしても良いし、少し遠巻きに見守っていても良いでしょう。子どもと遊ぶスキルがなくても、きっと子どもと同じ目線になって、気がついたら一緒に遊んでる、という感じです。「誰もが自然体でいられる」ことが魅力だと思います。買い物帰りのちょっとした時間に立ち寄ったり、半日くらいひろばで過ごす親子もいたり、ひろばで過ごす時間はまちまち。ボランティアも自分の都合に合わせることが可能です。「こんにちは」とか「またね～」というのも、また自然な姿です。あらかじめ予定を伝えておくことと、一般的なモラルがあれば、みんな笑顔で迎えてくれます。
  %img.img-responsive{:src => "/system/article_images/images/6/original.png"}/
%p 乳幼児と触れ合うことは、保育士のような仕事をしていたり、自分の兄弟や親せきに子どもがいたりしないと、なかなか機会がないかな、と思います。でも、ボランティアを通して、お父さん・お母さんから赤ちゃんの抱っこの仕方を教えてもらったり、先輩であるスタッフの経験談などを聞くこともできます。きっと将来、自分に子どもが生まれたら役立つことをいっぱい学べます！赤ちゃんと、人と関わることが好きな人にはおススメです！

%hr
%p びーのびーのでは「地域で子育て」というミッションに基づいて、地域交流活動も行っています。今回は、その一環として、神奈川県立港北高等学校で行われた「思港祭」でのブース出展「changeし隊 at 港北高校」を体験しました。
%p
  %img.img-responsive{:src => "/system/article_images/images/5/original.png"}/
%p
  「CHANGE」イベントの設営、撤去、子供たちの遊び相手など子供と交流したい、妊婦体験をしたいなどの中高生の対応も。
  %br/
  文化祭会場である高校の教室に直接集合し、装飾や洋服の陳列等を行う。
  %br/
  未就学児の親子連れ(１日で20組強)が訪れたら、メッセージカードの手配や洋服選び、子供たちの遊び相手、散らかったおもちゃを随時片付けるなどを行う。
  %br/
  子供たちの遊び相手がメインだが、校内を歩いて（妊婦体験の格好などもして）団体のアピールもした。15時以降は撤去作業と掃除。
  %br/
  おもちゃや交換用の洋服、子供の遊び場スペース用のマットなど職員さんの車２台で運ぶほどの量の荷物。一緒に荷物を持って施設に戻り、マットはすべて水ぶきをしてすぐ使える状態にした。
