%p 活動拠点の１つである横浜国際プール脇の竹林で、竹の伐採活動。切り出した竹は機械を使いチップにして土に還しますが、今回は10/4のイベント「竹灯籠まつり」で利用するため、灯籠の形にカットし細工を施しました。
%p
  %img.img-responsive{:src => "/system/article_images/images/1/medium.jpg"}/
  %img.img-responsive{:src => "/system/article_images/images/2/medium.jpg"}/
%p
  竹のファンクラブという名前の通り、竹と暮らすこと・日本の竹林風景を守ることへの愛と使命感に満ちた団体です。
  %br/
  といっても堅苦しくなく、初めての参加でも他の参加者やリーダーから竹の伐採方法や伐採した後の竹の活用方法を丁寧に教えてもらえます。そして実際に取り組むなかで、知っているようで知らなかった「竹林はほおっておくとすぐ荒れてしまう」という事実を実感できます。
  %br/
  それはつまり、日々管理する人がいなければこんな美しい風景を楽しむこともできないんだということ。ひとつひとつの作業は和気あいあいした雰囲気のなか行われますが、それらの活動を継続していくことが何よりも大切なんです。
  %br/
  だから全部の活動に参加できなくても、ぜひ参加してみてください。多くの人が関わって、竹林の魅力を伝え、保全活動に参加し、楽しんでもらうことが重要です。
  %br/
  ボランティア活動に参加したことない方にはぜひ参加してみてほしいです。
  %br/
  また、竹灯籠まつりや音楽祭など地域と交流イベントもあり、まちづくりに関心がある方も視野が広がるのではないでしょうか。
  %br/
  実際の定期的な活動は、汗水流しながらの本格的な伐採作業になるので、体を動かすのに抵抗がなければ、まずはじめにオススメしたいボランティア活動です！
