%p
  %img.img-responsive{:src => "/system/article_images/images/3/original.png"}/
%p
  だがしや楽校は子どもたちが学校では学べない気づきを得られる体験の場。実際に子どもたちがお仕事をしてる場に寄り添って活動を見守るのですが、お仕事に一生懸命打ち込む子、楽しそうにお仕事する子、目を離すと違うものに気を取られちゃう子、など様々でまさに小さな「社会」。「チラシを配ったらすごく喜んでくれたよ！」「呼び込みをしたら沢山の人が興味持ってくれた！」と嬉しそうに言って帰って来る子どもたちを目の当たりにするとなんだかこちらも嬉しくなっちゃいますね。
  %br/
  たった数十分の体験の場ですが、子どもたちの成長の瞬間を見ることができたり、普段の自分の「仕事」への向き合い方も考えさせられたり。奥が深い活動です。
  %br/
  参加した学生や社会人からは「昨年ここで出会った子どもたちが、また声をかけてくれた！」「初めてボランティアに参加したが、初めて会った子どもたちとも話しができた！」などなど、楽しかったというコメントが毎年たくさん。
  %br/
  参加したボランティア同士、ボランティアと子どもたちと多様な出会いがあり、「また来年ここに行けば会える」関係が作れるのもこの活動の魅力。子どもや、人と関わることが好きな人にはおススメです！
%p
  ＊年に１回の開催です。詳しくはこちらをご覧ください。
  %br/
  %a{:href => "http://dagashiyagakkou.jimdo.com/"} http://dagashiyagakkou.jimdo.com/
%p
  %img.img-responsive{:src => "/system/article_images/images/4/original.png"}/
%p
  NPO法人教育支援協会が主催する「よこはま国際フェスタwith横浜だがしや楽校」でのボランティア活動を体験してきました。
  %br/
  実際の活動内容はボランティア説明会と当日の合わせて３日間で、学生や若手社会人４０名ほどが参加していました。
  %br/
  多くが初めてこのだがしや楽校でボランティアをする方ばかりで、当日の活動もグループになって仕事を請け負うので、初心者でも安心して参加できる活動です。
  %br/
  当日は６つのグループに分かれて、子どもたちのお仕事場への引率やお迎え、だがしやさんの運営などですが、子どもたちがたくさん参加するので時間を忘れて参加することができました。
  %br/
  この「だがしや楽校」は山形で始まった取り組みで、横浜では国際フェスタ以外にも各地で活動しています。
  %a{:href => "http://dagashiyagakkou.jimdo.com/%E3%81%A0%E3%81%8C%E3%81%97%E3%82%84%E6%A5%BD%E6%A0%A1%E3%81%A3%E3%81%A6%E4%BD%95/"} だがしや楽校の流れはこちら
