%p
  「ただいま～！」
%p
  大きな声とともに、子どもたちが「ぐりぐら」にやってきます。
  %br
  下校直後の子どもたちは、とにかく元気‼屋内に入るとすぐに遊び始めます。
  %br
  初めてきたレポーターも子どもたちには大人気で、いつのまにか話をしたり遊んだり、
  %br
  一緒に宿題をしたりして関わるので、子ども達とはすぐに仲良くなれます。
  %img.img-responsive{:src => "/system/article_images/images/11/original.png"}/
%p
  学校や塾の宿題を終わらせて、夕方はクッキング！
  %br
  今日はクッキー作りを行います。
  %br
  10人ほどの子どもたちは２つのチームに別れ、慣れた手つきで作業を進めていきます。
%p
  こんな独創的なクッキーが焼きあがりました！
  %img.img-responsive{:src => "/system/article_images/images/9/original.png"}/
%p
  陽が暮れると、少しずつお父さんやお母さんがお迎えにきて、子どもは家に帰りはじめます。
  %br
  お迎えが遅い子は、ぐりぐらで夕食を食べることもできるので、
  %br
  クッキングが終わるとスタッフが夕食を準備します。
  %br
  ぐりぐらの中には、まるで家にいるような、おいしそうなにおいが漂います。
%p
  今日のメニューはカレーと、ジャガイモの炒め物です。
  %img.img-responsive{:src => "/system/article_images/images/10/original.png"}/
  ご飯を食べたあとは、話をしたり遊んだりして、ゆったりしながら過ごします。
  %br
  子どもがみんな家に帰ると、ぐりぐらの1日が終わります。
