%p
  「港南台生き生きプレイパーク」は、子ども達が自由にのびのびと遊べるように、地域住民が開催している遊び場です。ここでは『自分の責任で自由に遊ぶ』という考えを基本に、子ども達が自分の『思い』でいろいろなことにチャレンジして楽しく遊べるように工夫しています。今回はそんな「港南台生き生きプレイパーク」の一日体験をしてきました！
%hr
%p
  プレイパークは、JR京浜東北線・根岸線の港南台駅から徒歩１０分の港南台中央公園の中にあります。
  %br
  活動当日は、沢山動き回るので、動きやすく汚れても良い格好にしました。
%p
  %img.img-responsive{:src => "/system/article_images/images/13/original.png"}/
%p
  プレイリーダーの方から説明を受け、少しずつ遊具を出して、子どもたちが来るのを待ちます。
%p
  %img.img-responsive{:src => "/system/article_images/images/14/original.png"}/
%p
  公園の中には竹林があり、プレイパークの日だけ中に入ることが出来ます。ブランコや、滑り台、秘密基地…私たちも子どもたちが来る前についつい楽しんでしまいました。
%p
  %img.img-responsive{:src => "/system/article_images/images/15/original.png"}/
%p
  お昼近くになり子どもたちが集まってくると、竹林の中で鬼ごっこをしたり、けん玉で競ったり、大縄でひたすら八の字跳びをしたり・・
  %br
  子どもたちは様々な遊びを繰り広げていました！
  %br
  さらに、子どもたちが思いっきり遊べるだけでなく、お父さんたちも子どもより真剣に遊んでいたり、お母さんたちは焚火を囲んで休みながらおしゃべりをしていました。そんな親子で楽しめる空間作りがとても印象的でした！
%p
  沢山遊んで夕方になってくると子どもたちも少しずつ帰り始めるので、子どもたちが使っていない遊具から少しずつ片付けていきます。
%p
  %img.img-responsive{:src => "/system/article_images/images/16/original.png"}/
%p
  最後は、公園の中に遊具や落とし物がないか点検して、活動終了です！
