%p
  「ふくしまキッズ」は、福島原発事故の影響で、外で長時間遊ぶことができない福島の子どもたちのために、外で遊ぶ楽しさを味わってもらうイベントです。
  %br
  さまざまな世代のボランティアさんとの関わりを通じて成長する子どもたちを見守り、福島の子どもたちの学びと育ちを支援し、将来の福島を担う人材を育成することを目的としています。
%p
  2011年夏にスタートしたこのプログラムは、北海道から九州まで全国各地で実施されています。横浜でのプログラムの運営は、NPO法人教育支援協会が担っています。今回で5回目となるこの活動に、ボランティアとして参加してきました。

%p
  【活動前日まで～】
%p
  ふくしまキッズ　横浜プログラムのボランティア説明会は、11月から2回に分けて行われました。ふくしまキッズのこれまでの取り組みや福島の現状、子どもとの関わる時に配慮してほしいことなど、丁寧な説明が行われました。
  %br
  参加者の年齢層は、高校生からシニアの方まで幅広く、中には福島県から来た方もいました。全体説明の後は懇親会が行われ、集まったボランティアやスタッフの方たちと交流ができます。
  %br
  説明会の帰り際に、自分が参加できる日程を団体に提出します。宿泊の可否や午前中のみの参加など、自分の生活に合わせて参加可能な予定を提出し、団体による調整を経た後に、実際の活動日がメールで送られてきます。
%p
%hr
%p
  【当日からの流れ】
%p
  今年は、12/22～29日の日程で行われました。福島からバスに乗って横浜へ来る子どもたちは、小学校1年～6年生まで、およそ40人。前回も来たという子も多く、子どもたちにとって楽しい時間だというのがわかります。みんな、大きなスーツケースを引きながら、宿泊場所の研修センターに向かいます。
%p
  %img.img-responsive{:src => "/system/article_images/images/61/original.png"}/
%p
  「横浜だからできる活動をしたい」ということから、1週間の日程には、八景島シーパラダイスや横浜周辺のウォークラリーなどのプログラムが組み込まれています。横浜の学童クラブの子どもたちも途中から合流し、クリスマス会や地域の方との交流会なども行われ、福島の子どもたちと横浜の人が触れ合う機会が多いプログラム内容です。
%p
  %img.img-responsive{:src => "/system/article_images/images/62/original.png"}/
%p
  福島の子どもたちが一番楽しみにしていたのは、やっぱりシーパラ！1日かけてボランティアと一緒にたくさん遊びました。
%p
  %img.img-responsive{:src => "/system/article_images/images/63/original.png"}/
%p
  今回のメインプログラムは、だがしや楽校。
  %br
  これは、教育支援協会が活用している教育プログラムとして、さまざまな活動で用いられています。今回の宿泊場所である研修センターの食堂には、駄菓子屋さんがあり、廊下の掃除やスタッフのお手伝いなど「喜ばれること」をするともらえるエコマネーで、駄菓子を買うことができます。
%p
  エコマネーをもらったら、すぐに駄菓子を買う子や、いっぱい貯めて何に使おうか考える子、その使い方は自由です。
%p
  また、27日は地域の人も招いて、子どもたちがお店を出店します。初日に子どもたちが出したいお店を考えて、活動の合間に準備をしていきます。出店に必要なものを大人と一緒に少しずつ作っていき、当日に備えます。
%p
  %img.img-responsive{:src => "/system/article_images/images/64/original.png"}/
%p
  1週間で横浜を目いっぱい楽しみ、地域の人やボランティアとの触れ合いを思い出に、最終日は多くの人に見守られながら、子どもたちは福島に帰っていきました。
%p
  【活動後は…】
%p
  今回のプログラムに関わってくれた全ての人を対象に、報告会が行われました。長期間にわたるプログラムを関係者で共有するとともに、改めて福島の現状や、その地域で生活をしている人たちの思いを考え、横浜で何ができるかを考える機会にもなりました。
%p
  ※プログラム中、横浜での子どもたちの活動の様子は、毎日ブログで更新されました。
  %br
  離れた福島で帰りを待つ保護者に向け、元気に楽しく遊ぶ子どもたちの様子を伝え、安心してもらうことを目的の一つとしています。
%p
  ブログ記事リンク
  %a{href: "http://fukushima-kids.org/fkblog/category/2014winter/2014w_yokohama/", target: "brank"}
    http://fukushima-kids.org/fkblog/category/2014winter/2014w_yokohama/
