%p
  戸塚駅から徒歩３分ほど近くにあるコミュニティカフェ「ふらっとステーション・とつか」。ここはふらっと自由に立ち寄れ、さまざまな人が集い、たくさんの出会いがある『みんなの居場所』。世代を越えて地域の方々のホッとできる場所として、またいろいろな活動の場となっています。
%hr

%p
  2014年12月、明治学院大学の学生を中心にクリスマスパーティー企画が開催されたので、参加してきました。このイベントは、同年10月に行われた料理教室の第二弾として、戸塚区に住む大学生を対象に戸塚地域で世代を超えた顔の見える関係を作ろうという趣旨で開催されたものです。
%p
  このパーティーでは１人一品の持ち寄りと参加者でデコレーションしたクリスマスケーキ、ふらっとステーションのスタッフの方が用意してくださったお食事をみんなで食べました。
%p
  %img.img-responsive{:src => "/system/article_images/images/71/original.png"}/
%p
  当日は月曜日に実施したこともあり、学生は14時以降、授業が終わり次第、現地に集合しました。
  %br
  14時から会場の設営や、準備を行いました。
%p
  %img.img-responsive{:src => "/system/article_images/images/72/original.png"}/
%p
  18時にイベントがスタートし、アイスブレイクとして自己紹介ゲームを行いました。
%p
  %img.img-responsive{:src => "/system/article_images/images/73/original.png"}/
%p
  そのあと、２グループに分かれてケーキのデコレーションがスタート！
%p
  %img.img-responsive{:src => "/system/article_images/images/74/original.png"}/
%p
  両グループとも30分と限られた時間で個性的なケーキを完成させました。
%p
  %img.img-responsive{:src => "/system/article_images/images/75/original.png"}/
  %img.img-responsive{:src => "/system/article_images/images/76/original.png"}/
%p
  ケーキも完成し、お待ちかねのお食事タイム！
  %br
  はじめましての人もいたけれども、一緒にケーキを作った仲ということもあってみんなの会話も弾みます。
  %br
  食事が始まって30分が経ったころにはふらっとステーションのスタッフによる超能力（？）ショーがあり、場の空気が温まります。このショーのあとには、ボランティアマジシャンの梅里さんによるマジックショー！トランプを使ったマジックの数々にみんな驚きを隠せません。最後はクリスマスツリーから代表者の引いたカードと同じカードが！
%p
  %img.img-responsive{:src => "/system/article_images/images/77/original.png"}/
%p
  楽しい時間はあっという間に過ぎてしまい、20時になりクリスマスパーティーは終了しました。
  %br
  追伸：主催者からは「今回のイベントでは学生の参加しやすさを優先したため世代を超えた地域交流の場が見えにくいものでしたが、本来、ふらっとステーションは地域のコミュニティースペースのため、今後は、今回の参加学生たちもそのような場に積極的に参加してほしい。」とのことでした。
