%p
  港南台タウンカフェは、株式会社イータウンが商店会や市民活動団体と協働で運営するコミュニティカフェです。「caféからはじまるおもしろまちづくり」を理念に、港南台のまちづくりの発信基地として、カフェの運営のほか、地域情報サイトの作成やイベントの企画・運営などを、地域の有志や団体と連携して行っています。
%p
  今回は、毎月第３金曜日に開催される「まちサロン in cafe」の活動に参加してきました。
%hr
%p
  活動体験日は、月に１度実施している「まちサロン in cafe」というイベントでした。この「まちサロン in café」は、夜もお店をオープンして、地域の人や常連のお客さんたちが交流する機会をつくっています。毎回テーマを設定し、ゲストを招いて趣味などの話をしたり、楽器の演奏を参加者も一緒に楽しんだりしています。
%p
  ３月のテーマは、「震災から４年　三陸の想い」と題して、代表の斎藤さんが復興支援として30回以上訪ねた岩手県大槌町の現状と、活動を通した地元の人々との交流などのお話をされました。
%p
  %img.img-responsive{:src => "/system/article_images/images/81/original.JPG"}/
%p
  壁面のギャラリーには、これまでの活動の様子をまとめた写真展が。
%p
  準備からお手伝いをするため、17：00にお店を訪ねました。挨拶を終えた後、当日のスケジュール説明を受けました。
%p
  17：30から準備開始。今回の参加者は、およそ20人。この日は大槌町で作られた日本酒や海産物をたしなみながら交流するという趣旨のため、スタッフの方と一緒に、人数分のおつまみセットの準備をしました。
%p
  %img.img-responsive{:src => "/system/article_images/images/82/original.JPG"}/
%p
  大槌町で作られた、のしイカやコイワシの乾物は、商品の封を開けると、おいしそうなにおいが漂いました！
%p
  %img.img-responsive{:src => "/system/article_images/images/83/original.JPG"}/
%p
  参加予定分の準備完了！急遽の参加も可能なので、想定よりも多くの方が来場する場合も想定されます。一緒に準備を行ったスタッフの方は会が始まると別の役割があるので、手際を知った私は、用意したおつまみが足りなくなった時の「緊急おつまみセット作り係」に任命されました。
%p
  テーブルやプロジェクターの設置、資料の用意を終えると、徐々に人が集まり始めました。18：30にまちサロンがスタート。金曜日の夜なので、仕事終わりに遅れて参加する人もいるので、受付の補助を手伝いながら、斎藤さんの話を聞いていました。
%p
  会の途中には、日本酒や塩辛を各テーブルに配り、どれも大好評！私も少しいただきましたが、塩辛は濃厚でとても美味しかったです！
%p
  今回のまちサロンのテーマは被災地支援ということで、地元の方だけでなく、県外から話を聞きに来られた方もいらっしゃいました。生活地域を越えて、こうした人との繋がりが生まれることも、コミュニティカフェの持つ役割の一つなのかな、と思いました。
