%p
  今回は横浜アクションプランナーさんが定期的に行っている若者による街歩き企画「横浜珍百景」に参加してきました。
  「横浜珍百景」とは街歩きをしながら、横浜の「珍」を探してtwitterでつぶやき、それを地図上でマッピングしていくイベントで、今回は大学生から若手社会人、約３０名が参加していました。
%p
  集合時間は11時。4-5人ずつにチーム分けされ、チームごとにチェックポイントを指定されます。
  桜木町をスタート地点に、ゴールの神奈川文学館まで、大きく3つの方向（海沿い／馬車道方面／伊勢佐木町方面）に進むことになりました。
  計6グループが3時間半かけてチェックポイントと珍百景を探しながら歩きます。
%p
  %img.img-responsive{:src => "/system/article_images/images/91/original.jpg"}/
%p
  私たちグループは海沿いを進み、横浜税関、全コース共通チェックポイントの横浜スタジアム、ホテルニューグランドの３カ所を通りながら珍百景を探しました。
%p
  %img.img-responsive{:src => "/system/article_images/images/92/original.jpg"}/
%p
  休日の横浜の海沿いのカップルの多さと強い日差しによる少なからぬ苛立ちを抑えながら、こんなカップルだらけのところに珍百景はあるのかと不安に駆られながら歩いていきました。
  やはり、海沿いは整備されていて珍名所が見つからないので１本裏の道に入りました。
  すると、普段は気にすることはないけれどよく考えてみたらなぜここにこんな像があるのか？と思うような犬の像があったり。普通の通り沿いなのに昔の大砲があったり。
  意外な発見がたくさんありました。
%p
  ゴール地点の神奈川近代文学館では、各班の印象に残った珍百景を紹介、共有しました。
%p
  %img.img-responsive{:src => "/system/article_images/images/93/original.jpg"}/
%p
  共有のときに、この街歩きで横浜に興味を持ったという参加者も多くいたことが印象的でした。
%p
  %img.img-responsive{:src => "/system/article_images/images/94/original.jpg"}/
