%p
  ガチスカ！のイベントはいつも色々なところで行なわれるのですが、今回は新木場駅と辰巳駅のふたつのグループに分かれてごみ拾いを行ないました。
  ガチなスカベンジ(ごみ拾い)なのでもちろん動きやすい格好、歩きやすい靴は必須！！
%p
  %img.img-responsive{:src => "/system/article_images/images/101/original.jpg"}/
%p
  開会式が終わると、グループに分かれてさっそくごみ拾いスタートです！
  ひとりひとりごみ袋を持って、歩きながらどんどんごみを拾っていきます。自分の歩いてきた道が綺麗になっていくのは嬉しいですよね。しかも、ただごみ拾いはするだけではなく、道の途中でスタッフの人が待ち構えていて(笑)、クイズに答えたり、お題に沿ってチームで集合写真を撮ったり・・チームで力を合わせて楽しみながらごみ拾いが出来るのが魅力です♪
%p
  %img.img-responsive{:src => "/system/article_images/images/102/original.jpg"}/
%p
  2時間かけてじっくりごみ拾いを終えたあとは、会場を移してレクリエーションがスタート！
%p
  レクリエーションではグループに分かれて、「どこにどんなごみが落ちていたか？」をマップで書いてみたり、「どうしたらごみが少なくなるか」など話し合いました。
%p
  ただ「楽しかった！」だけで終わらせずに、こうやってみんなでその日のごみ拾いがどんなだったか、今後どうすればいいか話し合えるのはとても貴重な時間で「こんな発想もあるのか！」と自分も刺激を受けました！
%p
  %img.img-responsive{:src => "/system/article_images/images/103/original.jpg"}/
%p
  %img.img-responsive{:src => "/system/article_images/images/104/original.jpg"}/
%p
  最後は参加者&スタッフさんで集合写真☆
  写真からでも楽しさが伝わってきますよね。
  久しぶりにガチでスカベンジ(ごみ拾い)をしたら、体も沢山動かしたのでちょっと疲れましたが良いリフレッシュできました！
